body {
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.header-flex-container {
    display: flex;
    background: lightseagreen;
    border: 4px solid orange;
    font-size: 50px;
    text-align: center;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 335px;
    justify-content: space-around;
    /* max-height: 223px; */
}

.header-flex-container p {
    border: 8px solid red;
    display: flex;
    margin: 0px;
    max-height: 100%;
    min-width: 320px;
    max-width: 100%;
    align-self: center;
}

.header-flex-container img {
    display: flex;
}

.header-img-amethyst img {
    display: block;
    min-width: auto;
    max-width: auto;
    min-height: 10px;
    max-height: 300px;
}

.header-img-fluorite img {
    display: block;
    min-width: auto;
    max-width: auto;
    min-height: 10px;
    max-height: 300px;
}

.nav-flex-container {
    margin: 0px;
    background-color: blueviolet;
    min-height: 70px;
    max-height: 100%;
    min-width: 335px;
    border: 6px solid yellow;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px;
    font-size: 40px;
    justify-content: space-evenly;
    align-items: center;
}


.nav-flex-container a {
    padding-right: 50px;
    padding-left: 50px;
    color: rgb(7, 255, 7);
    text-decoration: none;
}

.nav-flex-container a:hover {
    color: darkorange;
    text-decoration: underline;
}

.content-flex-container {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: crimson;
    border: 5px solid darkblue;
    align-items: center;
    justify-content: space-evenly;
}

.content-flex-container h1 > p {
    align-self: center;
}

.footer-flex-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: greenyellow;
    border: 5px solid brown;
    min-height: 120px;
    font-size: 20px;
}

.footer-flex-container p {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    align-items: flex-end;
}


/* Behöver fixas */

.info-left {
    display: flex;
    max-height: 120px;
    max-width: 300px;
    align-content: flex-end;
    flex-wrap: wrap;
    outline: 2px solid blue;
}

/* Behöver fixas */

.info-right {
    display: flex;
    max-height: 150px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    outline: 2px solid darkgreen;
}

/* ---------------------------------------------------------- */

/* RADERA INTE, ANNARS FUNGERAR INTE WEBBSIDAN KORREKT! */
@media all and (max-width: 700px) {
    .header-flex-container p {
        min-height: auto;
        max-height: none;
        min-width: auto;
        max-width: 100%;
    }

    .header-img-fluorite img {
        display: none;
    }

    .header-img-amethyst img {
        display: none;
    }
}