body {
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.header-flex-container {
    display: flex;
    background-color: rgb(30, 39, 39);
    font-size: 50px;
    text-align: center;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 335px;
    justify-content: space-around;
}

.header-flex-container p {
    background-color: dimgray;
    padding: 5px;
    border: 6px solid white;
    display: flex;
    margin: 0px;
    max-height: 100%;
    min-width: 320px;
    max-width: 100%;
    align-self: center;
}

.header-flex-container img {
    display: flex;
}

.header-img-amethyst img {
    display: block;
    min-width: auto;
    max-width: auto;
    min-height: 10px;
    max-height: 300px;
}

.header-img-fluorite img {
    display: block;
    min-width: auto;
    max-width: auto;
    min-height: 10px;
    max-height: 300px;
}

.nav-flex-container {
    margin: 0px;
    min-height: 70px;
    max-height: 100%;
    min-width: 335px;
    background-color: darkslategrey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px;
    font-size: 40px;
    justify-content: space-evenly;
    align-items: center;
}


.nav-flex-container a {
    padding-right: 50px;
    padding-left: 50px;
    color: rgb(7, 255, 7);
    text-decoration: none;
}

.nav-flex-container a:hover {
    color: darkorange;
    text-decoration: underline;
}

.content-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(100, 100, 100);
}

.content-flex-container details{
    padding: 3px;
    border: 2px solid black;
    /* position: ; */
}

.content-flex-container details:nth-child(4){
    margin-bottom: 26px;
}

.content-flex-container-list ul {
    padding-left: 250px;
    font-size: 25px;
    text-align: left;
}

.content-flex-container-list li {
    font-weight: bold;
}

.content-flex-container h1 {
    text-align: center;
    background-color: rgb(50, 50, 50);
    margin-left: 550px;
    margin-right: 550px;
    padding: 10px;
    border-radius: 10px;
}

.content-flex-container-mineral p {
    /* text-align: center; */
}

.content-flex-container p {
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 25px;
    background-color: rgb(110, 109, 109);
}

.content-flex-container-bergart p {
    /* text-align: center; */
}

.footer-flex-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: rgb(40, 40, 40);
    color: #768390;
    min-height: 100px;
    font-size: 20px;
}

.footer-flex-container p {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;;
    align-items: flex-end;
}


/* Behöver fixas */

.info-left {
    display: flex;
    max-height: 100px;
    max-width: 300px;
    align-content: flex-end;
    flex-wrap: wrap;
}

/* Behöver fixas */

.info-right {
    display: flex;
    max-height: 100px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.quartz1 {
    text-decoration:none;
    position:relative;
}

.quartz1 span {
    display:none;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:black;
    background:white; 
}

.quartz1 span img {
    float:left;
    margin:0px 8px 8px 0;
}

.quartz1:hover span {
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width:auto;
    max-width:320px;
    min-height:128px;
    border:1px solid black;
    margin-top:12px;
    margin-left:32px;
    overflow:hidden;
    padding:8px;
}

/* .quartz1 {
    text-decoration:none;
    position:relative;
}

.quartz1 span {
    display:none;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:black;
    background:white; 
}

.quartz1 span img {
    float:left;
    margin:0px 8px 8px 0;
}

.quartz1:hover span {
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width:auto;
    max-width:320px;
    min-height:128px;
    border:1px solid black;
    margin-top:12px;
    margin-left:32px;
    overflow:hidden;
    padding:8px;
} */

/* ---------------------------------------------------------- */

/* RADERA INTE, ANNARS FUNGERAR INTE WEBBSIDAN KORREKT! */
@media all and (max-width: 700px) {
    .header-flex-container p {
        min-height: auto;
        max-height: none;
        min-width: auto;
        max-width: 100%;
    }

    .header-img-fluorite img {
        display: none;
    }

    .header-img-amethyst img {
        display: none;
    }
}


/* Kan man göra så att den border runt details försvinner när man trycker på den? */
@media all and (max-width: 200px) {
    .content-flex-container details {
        border: none;
    }
}